<script src="js/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="styles/bs1.css">

<!-- Optional theme -->
<link rel="stylesheet" href="styles/bs2.css">

<!-- Latest compiled and minified JavaScript -->
<script src="js/bs3.js"></script>

<link rel="stylesheet" href="styles/main.css">

<script src="js/min1.js"></script>
<script src="js/min2.js"></script>
<script src="js/min3.js"></script>
<script src="js/min4.js"></script>

<script src="universal.js"></script>
<script src="phone.js"></script>

<script>

var canvasPhone, stagePhone, exportRootPhone;
function init_phone() {
	
	canvasPhone = document.getElementById("canvas_phone");
	imagesPhone = imagesPhone||{};
	ssPhone = ssPhone||{};

	var loader = new createjs.LoadQueue(false);
	loader.addEventListener("fileload", handleFileLoadPhone);
	loader.addEventListener("complete", handleCompletePhone);
loader.loadFile({src:"images/phone_atlas_.json", type:"spritesheet", id:"phone_atlas_"}, true);
	loader.loadManifest(libPhone.properties.manifest);
}

function handleFileLoadPhone(evt) {
	if (evt.item.type == "image") { imagesPhone[evt.item.id] = evt.result; }
}

function handleCompletePhone(evt) {
	var queue = evt.target;
	ssPhone["phone_atlas_"] = queue.getResult("phone_atlas_");
	exportRootPhone = new libPhone.phone();

	stagePhone = new createjs.Stage(canvasPhone);
	stagePhone.addChild(exportRootPhone);
	stagePhone.update();

	createjs.Ticker.setFPS(libPhone.properties.fps);
	createjs.Ticker.addEventListener("tick", stagePhone);
}
</script>



<script src="saveMe.js"></script>

<script>
var canvas, stage, exportRoot;
function init_canvas() {
	canvas = document.getElementById("canvas");
	images = images||{};
	ss = ss||{};

	var loader = new createjs.LoadQueue(false);
	loader.addEventListener("fileload", handleFileLoad);
	loader.addEventListener("complete", handleComplete);
loader.loadFile({src:"images/saveMe_atlas_.json", type:"spritesheet", id:"saveMe_atlas_"}, true);
	loader.loadManifest(lib.properties.manifest);
}

function handleFileLoad(evt) {
	if (evt.item.type == "image") { images[evt.item.id] = evt.result; }
}

function handleComplete(evt) {
	var queue = evt.target;
	ss["saveMe_atlas_"] = queue.getResult("saveMe_atlas_");
	exportRoot = new lib.saveMe();

	stage = new createjs.Stage(canvas);
	stage.addChild(exportRoot);
	stage.update();

	createjs.Ticker.setFPS(lib.properties.fps);
	createjs.Ticker.addEventListener("tick", stage);
}
</script>








<script>
function init(){
	
	init_phone();
	init_canvas();
}
</script>




<br>
<body onload="init();">
	<div class="title">
		Arbitrio
	</div>
	<div class = "gitID" > Git ID: 12345678  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; PHONE: 1-800-555-4289 </div>
	<br>
	<div class="phone">
	phone
	</div>
	<div class="content"> 
	<canvas id="canvas" width="1200" height="800" style="background-color:#444560"></canvas>
	<canvas class="phone" id="canvas_phone" width="360" height="640" style="background-color:black"></canvas>
	<div class="footer">
		Made By David Silin & Anil Jason at Techweek 2015
	</div>
	</div>
</body>